@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.responsive-image {
    width: 30%;
    height: auto;
}
  
.font {
    color:rgb(255, 255, 255);
    font: 2em sans-serif;   
}

.fontLabel{
    color:rgb(255, 255, 255);
    font: 1.2em sans-serif;   
    margin-top: 3em;
}
.inputs{
    border: solid 2px;
    border-radius: 7px;
    border-color: aliceblue;
    width: 20em;
    height: 38px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 0.7em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    box-sizing: border-box;
    color: aliceblue;
    font-size: 50xp;
}
.buttonArea{
    border: solid 2px;
    border-radius: 7px;
    border-color: rgb(0, 0, 0);
    width: 21em;
    height: 38px;
    background-color: rgba(14, 12, 12, 0.918);
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    color: aliceblue;
}
.inputs:focus {
    outline: none;
  }

/* Remove as setas do input number em navegadores webkit */
.inputs::-webkit-outer-spin-button,
.inputs::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as setas do input number em outros navegadores */
.inputs[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 600px) {
    .font {
        font-size: 1.5em;
    }

    .fontLabel {
        font-size: 1em;
        margin-top: 2em;
    }

    .inputs {
        width: 80%;
        font-size: 1.2em;
    }

    .buttonArea {
        width: 80%;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 400px) {
    .font {
        font-size: 1.2em;
    }

    .fontLabel {
        font-size: 0.8em;
        margin-top: 1.5em;
    }

    .inputs {
        height: 30px;
        font-size: 1em;
    }

    .buttonArea {
        height: 30px;
        font-size: 1em;
    }
}